@model Proyectocf.Model.Models.Inscripcione

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inscripcione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InscripcioneID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
