@model IEnumerable<Proyectocf.Model.Models.Inscripcione>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semestre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semestre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InscripcioneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InscripcioneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InscripcioneID })
        </td>
    </tr>
}

</table>
